<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="author" content="Fetchto">
    <meta name="contact" content="info@fetchto.com">
    <meta name="title" content="Fetchto">
    <meta name="keywords" content="Ecommerce Logistics, Online Courier services, Free courier pick up, Domestic courier services, Logistics service for online sellers, Logistics service for online stores, Transportation services, Delivery services, Logistics Service for Instagram sellers, Cheap logistics services, International courier service, Shipping services, Ship to Mumbai,Chennai, delhi, Shipping dashboard, Multi Shipping platform, Cheap shipping services, Ecom shipping services, Cod shipments, Cod shipping service, Shipping with Cash on delivery, SMS gateway for shipping, Ecommerce startups Logistics service, Logistics startups, Logistics aggregator, Ecommerce startups">
    <meta name="theme-color" content=" #191e34" />
    <meta name="description" content="Fetchto">
    <link href="~/asset2/media/favicon/fetchto_faviconew.png" rel="shortcut icon" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="~/asset2/media/favicon/fetchto_faviconew.png" />
    <link rel="canonical" href="http://www.fetchto.com/" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Fetchto" />
    <meta property="og:description" content="Fetchto" />
    <meta property="og:url" content="http://www.fetchto.com/" />
    <!--  <meta property="og:image" content="http://www.uxninja.in/media/Niranjan-portfolio.jpg" />
      <meta property="article:published_time" content="2016-11-23" />
      <meta property="article:modified_time" content="2016-11-24" />-->
    <meta property="og:site_name" content="Fetchto" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/asset2/dist/css/min_css/owl.carousel.min.css">
    <script type="text/javascript" src="~/asset2/app/js/common.js"></script>
</head>
<div id="loader-wrapper">
    <div id="loader"></div>
    
</div>
<body>
    @Html.Partial("home_navigation")
    @Html.Partial("signup_container")
    @RenderBody()
    @Html.Partial("footer")   
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5a97b5454b401e45400d4f1d/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();</script>
    <!--End of Tawk.to Script-->
</body>
</html>
